.search[b-0jgikweiq1] {
    padding: .50rem;
    position: relative;
    min-width: 150px;
}
 .search .search-input[b-0jgikweiq1] {
     padding-right: calc(24px+0.5rem);
 }
 .search .search-button[b-0jgikweiq1] {
     right: 0px;
     top: 0px;
     pointer-events: auto;
     z-index: 3;
     width: auto;
     display: flex;
     align-items: center;
     height: 100%;
     position: absolute;
 }
 .search .search-button .search-icon[b-0jgikweiq1] {
     background-color: currentColor;
     width: 16px;
     height: 16px;
     mask-image: url("images/icons/search.svg");
     -webkit-mask-image: url("images/icons/search.svg");
     opacity: 0.6;
 }

.dxbl-menu-item-tmpl[b-0jgikweiq1] {
    display: flex;
    align-items: center;
}

.notoggle svg[b-0jgikweiq1] {
    display: none;
}

.dxbl-menu-item .search[b-0jgikweiq1] {
    min-width: 123px
}

.dxbl-menu-item-tmpl > .search[b-0jgikweiq1] {
    position: relative;
}
